DB_URL=jdbc:postgresql://localhost:5432/evenly
DB_USER=evenly
DB_PASSWORD=evenly
JWT_SECRET=change-this-evenly-secret-key-please-1234567890
JWT_TTL_HOURS=72

KEYCLOAK_URL=https://auth.ghassen.io
KEYCLOAK_REALM=pockito
KEYCLOAK_CLIENT_ID=pockito-web